<nav class="flex p-4 bg-blue-900 text-white">
    <a class="mx-4" routerLink="/">JustBooks</a>
    <a class="mx-4" routerLink="/cart">My Cart</a>
    <ng-container *ngIf="!isAuthenticated()">
      <a class="mx-4" routerLink="/login"> Login</a>
      <a class="mx-4" routerLink="/register"> Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <a class="mx-4" routerLink="/login" (click)="logout()" > Logout</a>
    </ng-container>
</nav>
<div class="p-4">
    <router-outlet></router-outlet>
</div>
